<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vandesr.admin.mapper.VandesrUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vandesr.admin.entity.VandesrUser">
        <id column="id" property="id" />
        <result column="email" property="email" />
        <result column="login_name" property="loginName" />
        <result column="user_code" property="userCode" />
        <result column="user_name" property="userName" />
        <result column="pwd" property="pwd" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="avatar" property="avatar" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, email, login_name, user_code, user_name, pwd, delete_flag, avatar, create_date, update_date
    </sql>

</mapper>
