<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.vandesr.admin.mapper.VandesrRoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.com.vandesr.admin.entity.VandesrRole">
        <id column="id" property="id" />
        <result column="role_code" property="roleCode" />
        <result column="role_name" property="roleName" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_date" property="createDate" />
        <result column="create_user_code" property="createUserCode" />
        <result column="create_user_name" property="createUserName" />
        <result column="update_date" property="updateDate" />
        <result column="update_user_code" property="updateUserCode" />
        <result column="update_user_name" property="updateUserName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_code, role_name, delete_flag, create_date, create_user_code, create_user_name, update_date, update_user_code, update_user_name
    </sql>

    <select id="isMutiRoleCode" resultType="java.lang.Integer">
        SELECT count(1) from vandesr_role where role_code = #{roleCode}
        <if test="null != id and id > 0">
            and id &lt;&gt; #{id}
        </if>
    </select>

    <select id="isMutiRoleName" resultType="java.lang.Integer">
        SELECT count(1) from vandesr_role where 1 = 1

         and role_name = #{roleCode}
        <if test="null != id and id > 0">
            and id &lt;&gt; #{id}
        </if>

    </select>

</mapper>
